.menuplatos {
    margin: 10px;
}

.menutexto {
    margin-left: 10px;
}

.espacio {
    margin-bottom: 60px;
}

.linea-divisora {
    display: inline-block;
    width: 350px; 
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    vertical-align: middle;
}

@media (max-width: 426px) {
    .linea-divisora {
    display: inline-block;
    width: 75%;
    margin: 10px 0;
    }
}

@media (max-width: 321px) {
    .linea-divisora {
    display: inline-block;
    width: 65%;
    margin: 10px 0;
    }
}

